/** @format */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

html {
  font-size: 55.5%;
}

:root {
  --main-color: #333;
  --primary-color: #acacac;
  --icon-color: #525252;
}

i {
  width: 2rem;
  height: 2rem;
}

.fa,
.fas {
  font-weight: 900;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

body {
  width: 80%;
  height: 100vh;
  margin: auto;
}
